<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Equiplan</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link
			rel="shortcut icon"
			href="/favicon.ico"
			type="image/x-icon" />
		<link rel="stylesheet" href="index.css" />
	</head>
	<body>
        <%- include('./partial/navbar.ejs')%>
		<div class="sm:container sm:mx-auto">
			<h1 class="text-3xl">Contato</h1>
			<h2 class="text-2xl">Equipe:</h2>
            <p>Comercial 1 Whats: <a class="underline text-blue-500" href="https://wa.me/5511976702246">(11)97670-2246</a> <br /></p>
            <p>Comercial 2 Whats: <a class="underline text-blue-500" href="https://wa.me/5511985185076">(11)98518-5076</a> <br /></p>
            <p>Jurídico Whats: <a class="underline text-blue-500" href="https://wa.me/5511974224101"> (11)97422-4101</a> <br /></p>
            <p>Administrativo Whats: <a class="underline text-blue-500" href="https://wa.me/5511973364612">(11)97336-4612</a> <br /></p>
            <p>E-mail: <a class="underline text-blue-500" href="mailto:equiplan@equiplan.com.br">equiplan@equiplan.com.br</a></p>
		</div>
    <%- include('./partial/footer.ejs')%>
	</body>
</html>
