<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Equiplan</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link
			rel="shortcut icon"
			href="/favicon.ico"
			type="image/x-icon" />
	</head>
	<body>
		<div class="container mx-auto">
            <%- include('./partial/navbar.ejs')%>
			<form  id="html_form" method="post" enctype="multipart/form-data" action="/new">
				<input type="file" name="new_file" id="new_file">
				<button type="submit">Send</button>
			</form>
            <div class="imoveis">
                <div class="card rounded border-black border-0">
					<img src="/imoveis/IM11110/0.jpeg" alt="">
					<div class="text-bold">
						IM11110</br>
						Bom Retiro</br>
						Venda: 130000
					</div>
				</div>
            </div>
        <%- include('./partial/footer.ejs')%>
		</div>
	</body>
</html>
