<ul class="sm:container flex flex-row justify-center items-center py-4 gap-32 text-3xl">
    <a href='/'><img src="/logo.png" alt="logo" style="height:100px"></a>
    <li><a href="/imoveis.html">Imoveis</a></li>
    <li><a href="/faq.html">Faq</a></li>
    <li><a href="/contato.html">Contato</a></li>
</ul>
<div class="creci font-bold text-center mb-4">
    CRECI-J35272
</div>